

$font-styles: (
  3xl:(font-size:32px, line-hight:42px),
  2xl:(font-size:24px, line-hight:32px),
  xl:(font-size:20px, line-hight:32px),
  2lg:(font-size:18px, line-hight:26px),
  lg:(font-size:16px, line-hight:26px),
  md:(font-size:14px, line-hight:24px),
  sm:(font-size:13px, line-hight:22px),
  xs:(font-size:12px, line-hight:18px),
)