$booking-color-gray1: #FAFAFA;
$booking-color-gray2: #EEEEEE;
$booking-color-gray3: #DDDDDD;
$booking-color-gray4: #CBC9CF;
$booking-color-gray5: #ADAEB8;
$booking-color-gray6: #A4A1AA;
$booking-color-gray7: #A1A1A1;
$booking-color-gray8: #79747E;
$booking-color-gray9: #4B4B4B;
$booking-color-gray10: #112211;
$booking-color-gray11: #1B1B1B; 

$booking-color-green1: #CED8D5;
$booking-color-green2: #00AC07;
$booking-color-green3: #0B3B2D; 

$booking-color-red1: #FFE4E0;
$booking-color-red2: #FFC2BA;
$booking-color-red3: #FF472E;

$booking-color-orange1: #FFF4E8;
$booking-color-orange2: #FF7C1D;

$booking-color-yellow1: #FFC23D;
$booking-color-yellow2: #FBAF37;
$booking-color-yellow3: #F89A05;

$booking-color-mint1: #21D0C3;

$booking-color-blue1: #E5F3FF;
$booking-color-blue2: #2EB4FF;
$booking-color-blue3: #2EB4FF;






 


 
 